@model List<AcunMedyaPortfolyo.Models.Tbl_Project>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<h2>Index</h2>

<h2 style="color: midnightblue; background-color: aliceblue; padding: 10px; border-radius: 8px;">Burası Projeler Sayfası</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Proje Sayısı</th>
                <th>Proje Id</th>
                <th>Proje Adı</th>
                <th>Description</th>
                <th>ProjectLink</th>
                <th>Image1</th>
                <th>Image2</th>
                <th>Image3</th>
                <th>CatagoryID</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>@item.ProjectID</td>
                    <td>@item.ProjectName</td>
                    <td>@item.Description</td>
                    <td>@item.ProjectLink</td>
                    <td><img src="@item.Image1" style="width:50px;height:50px" /></td>
                    <td><img src="@item.Image2" style="width:50px;height:50px" /></td>
                    <td><img src="@item.Image3" style="width:50px;height:50px" /></td>
                    <td>@item.Tbl_Category.CategoryName</td>
                    <td><a class="btn btn-success" href="/Categories/UpdateCategory/@item.ProjectID">Güncelle</a></td>
                    <td><a class="btn btn-danger" href="/Categories/RemoveCategory/@item.ProjectID/">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a style="background-color: aliceblue; color: midnightblue; border: 1px solid midnightblue;" class="btn btn-outline-primary" href="/Categories/CreateCategories/">Oluştur</a>

